﻿@model IEnumerable<BlessedHub.Models.GiveHelpToOrganisaiton>

<ul class="nav navbar-nav navbar-left" style="width:100%">
    @foreach (var item in Model)
    {
    <li style="margin-left:1%; width:30%;" >
        <article class="card card--brand-h card--big js-header">
            <header class="card__title">
                @Html.ActionLink(item.GiveHelpSubType.HelpSubType, "ThreeColumn", "Portfolio")

            </header>
            <section class="TimingBox">
                <div>
                    <div class="TimingBox-entry js-item">
                        <div>
                            @item.Organisation.Name
                        </div>
                        <table class="table">

                            <tr>
                                <td><a href="#" class="btn btn-primary">I Can Help</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Posted</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>


            </section>
        </article>
    </li>

    }

</ul>
