﻿@model IEnumerable<BlessedHub.Models.OrganisationWorkingDay>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
   
@foreach (var item in Model) {
    <tr style="border-bottom-color:transparent;">
        
        <td>
            @Html.DisplayFor(modelItem => item.WeekDay.Days)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
       
              
    </tr>
}

</table>
