﻿@model IEnumerable<BlessedHub.Models.OrganisationService>

@{
    Layout = null;
}



@foreach (var item in Model)
{

<article class="card card--brand-h card--big js-header">
    <header class="card__title">
        <a href="#" style="color:darkblue;">
            @Html.DisplayFor(modelItem => item.Organisation.Name)
        </a>
    </header>

    <section class="TimingBox">
        <div>
            <div class="TimingBox-entry js-item">
                <div>
                    @item.Organisation.Description
                </div>
                <dl class="TimingBox-dictionary">
                    <dt class="TimingBox-dictionary-title">888Services Available:</dt>
                    <dd class="TimingBox-dictionary-desc">@Html.DisplayFor(modelItem => item.Organisation.Telephone</dd>
                    <dt class="TimingBox-dictionary-title"></dt>
                    <dd class="TimingBox-dictionary-desc"></dd>

                    <dt class="TimingBox-dictionary-title">Suitable For:</dt>
                    <dd class="TimingBox-dictionary-desc">@Html.DisplayFor(modelItem => item.Organisation.Telephone)</dd>


                    <dt class="TimingBox-dictionary-title">Address:</dt>
                    <dd class="TimingBox-dictionary-desc">
                        <p data-bind="text: locationDescription"></p>
                        <span>@item.Organisation.Address1 , @item.Organisation.City,@item.Organisation.PostCode</span>
                        - <a data-bind="attr: { href: viewMapsUrl }">View on Map</a>
                    </dd>
                    <dt class="TimingBox-dictionary-title">Opening times:</dt>
                    <dd class="TimingBox-dictionary-desc">
                        <dl class="result-detail__times-list">
                            <dt class="result-detail__times-title">day</dt>
                            <span>
                                <dd class="result-detail__times-item"> time</dd>
                            </span>
                        </dl>
                    </dd>
                    <dt class="TimingBox-dictionary-title">Telephone:</dt>
                    <dd class="TimingBox-dictionary-desc">@Html.DisplayFor(modelItem => item.Organisation.Telephone)</dd>
                </dl>
            </div>
        </div>
        <a class="TimingBox__link" data-bind="attr: { href: providerPageUrl }">More Information</a>
    </section>
</article>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SuitableFor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organisation.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeTableService.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicesType.ServiceType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SuitableFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organisation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTableService.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicesType.ServiceType)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OrganisationServicesId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OrganisationServicesId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OrganisationServicesId })
                </td>
        </tr>
    }

</table>

