﻿@model BlessedHub.Models.OrganisationService

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>OrganisationService</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SuitableFor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SuitableFor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ServiceDescription)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ServiceDescription)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Organisation.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Organisation.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TimeTableService.StartTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TimeTableService.StartTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ServicesType.ServiceType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ServicesType.ServiceType)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.OrganisationServicesId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
