﻿@model IEnumerable<BlessedHub.Models.OrganisationService>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SuitableFor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organisation.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeTableService.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicesType.ServiceType)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SuitableFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organisation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTableService.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicesType.ServiceType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.OrganisationServicesId }) |
                @Html.ActionLink("Details", "Details", new { id=item.OrganisationServicesId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.OrganisationServicesId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
