﻿@model BlessedHub.Models.OrganisaitonServicesType

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="container">


        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Organisation Services Types</li>
            </ol>
        </h6>



    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-lg-12">
       

            <h3>Are you sure you want to delete this?</h3>
            <div>
                <h4>OrganisaitonServicesType</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.SuitableFor)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SuitableFor)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Organisation.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Organisation.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ServicesType.ServiceType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ServicesType.ServiceType)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>

        </div>
    </div>
</div>