﻿@model BlessedHub.Models.OrganisaitonServicesType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OrganisaitonServicesType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SuitableFor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuitableFor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organisation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organisation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServicesType.ServiceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServicesType.ServiceType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrganisaitonServicesTypesId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
