﻿@model IEnumerable<BlessedHub.Models.OrganisaitonServicesType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="container">


        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Organisation Services Types</li>
            </ol>
        </h6>



    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h2> Services Types</h2>
            <p class="EditLink">
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SuitableFor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Organisation.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ServicesType.ServiceType)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SuitableFor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Organisation.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServicesType.ServiceType)
                        </td>
                        <td class="EditLink">
                            @Html.ActionLink("Edit", "Edit", new { id = item.OrganisaitonServicesTypesId }) |
                            @*@Html.ActionLink("Details", "Details", new { id = item.OrganisaitonServicesTypesId }) |*@
                            @Html.ActionLink("Delete", "Delete", new { id = item.OrganisaitonServicesTypesId })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>