﻿@model BlessedHub.Models.City


    
    <div class="form-horizontal">
    
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <div class="col-md-7">
                    @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("SingleItem","Portfolio")" class="btn btn-primary">View Location Page <i class="fa fa-angle-right"></i></a>
                    @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        
    </div>



