﻿@model BlessedHub.Models.OrganisationService

    
<div class="form-horizontal">
    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div style="border:5px;">
                <div class="col-md-12">
                   
                    <div class="col-md-4">
                        Find help near you
                    </div>
                    <div class="col-md-5"></div>
                    <div class="col-md-4"></div>
                </div>
                    <div class="col-md-12">

                        <div class="col-md-4">
                            @Html.EditorFor(m => m.Organisation.PostCode, new { htmlAttributes = new { @Value = "M19", @class = "form-control" } })
                        </div>
                        <div class="col-md-5">
                            @Html.DropDownListFor(m => m.ServiceId, (SelectList)ViewBag.ServiceId, "- Select one -", htmlAttributes: new { @class = "form-control" })

                        </div>
                        <div class="col-md-3">

                            <input type="submit" value="Search" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
    }


    </div>

