﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (User.Identity.IsAuthenticated)
{
    <ul class="dropdown-menu">
        <li id="1columnportfolio">
            @Html.ActionLink("Test if", "Help", "GiveHelpToOrganisaitonsData")
        </li>
    </ul>
}

