﻿@model BlessedHub.Models.City

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

<div class="row">
    <div class="container">


        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Cities</li>
            </ol>
        </h6>



    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-lg-12">
           

            <h3>Are you sure you want to delete this?</h3>
            <div>
               
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CityName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CityName)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> 
                       
                    </div>
                }

                    <div style="margin-top:15px;" class="EditLink">
                        @Html.ActionLink("Back to List", "Index")
                    </div>
            </div>

        </div>
    </div>
</div>