﻿@model BlessedHub.Models.Organisation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Full Width Page</li>
            </ol>
        </div>
    </div>
    <div class="row" style="width:70%; margin-left:1%;">

        <div>
            <h2>@Model.Name</h2>

            <br />

            <div>
                @Model.Description
            </div>
            <br />

            <div>
                <h4>
                    Locations
                </h4>
            </div>


            <div>
                <h6>
                    @Model.Address1 , @Model.City , @Model.PostCode <a target="_blank" href="https://www.google.co.uk/maps/place/@Model.PostCode" style="color:darkblue;">Map</a>
                </h6>
            </div>


            <div style="width:50%;">
                @{ Html.RenderAction("OranisationTimeTable", "OrganisationWorkingDays", new { id = Model.OrganisationId }); }
            </div>

            <div>
                <h4>
                    Services Provided
                </h4>
            </div>
            <br />
            <div>
                @{ Html.RenderAction("PartialServicesTypesCard", "OrganisaitonServicesTypesData", new { OrganisationId = 1, OrganisationServicesId = 1 }); }
            </div>
        </div>



        <div>
            <h4>Contact</h4>
            <hr />
            <dl class="dl-horizontal">



                <dt></dt>
                <dt>
                    Email:
                </dt>

                <dd>
                    @Model.Email
                </dd>
                <dt>
                    Website:
                </dt>

                <dd>
                    @Model.Website
                </dd>
                <dt>
                    Twitter:
                </dt>

                <dd>
                    @Model.Twitter
                </dd>
                <dt>
                    Facebook:
                </dt>

                <dd>
                    @Model.Facebook
                </dd>


            </dl>
        </div>
    </div>
</div>
