﻿@model IEnumerable<BlessedHub.Models.Organisation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="container">


        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Organisation</li>
            </ol>
        </h6>



    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-lg-12">

            <p class="EditLink">
                @Html.ActionLink("Create New", "Create")
            </p>



            @foreach (var item in Model)
            {
                <table class="table">
                    <tr>
                        <td> @Html.DisplayNameFor(model => model.Name)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                    </tr>
                    <tr>
                        <td>  @Html.DisplayNameFor(model => model.Type)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                    </tr>
                    <tr>
                        <td>    @Html.DisplayNameFor(model => model.Title)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                    </tr>
                    <tr>
                        <td>  @Html.DisplayNameFor(model => model.SubTitle)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubTitle)
                        </td>
                    </tr>
                    <tr>
                        <td> @Html.DisplayNameFor(model => model.Description)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    </tr>
                    <tr>
                        <td> @Html.DisplayNameFor(model => model.Address1)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address1)
                        </td>
                    </tr>
                    <tr>
                        <td> @Html.DisplayNameFor(model => model.Address2)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address2)
                        </td>
                    </tr>
                    <tr>
                        <td> @Html.DisplayNameFor(model => model.Address3)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address3)
                        </td>
                    </tr>
                    <tr>
                        <td> @Html.DisplayNameFor(model => model.PostCode)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostCode)
                        </td>
                    </tr>
                    @*<tr>
                        <td>  @Html.DisplayNameFor(model => model.City)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                    </tr>*@
                    <tr>
                        <td> @Html.DisplayNameFor(model => model.Telephone)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telephone)
                        </td>
                    </tr>
                    <tr>
                        <td> @Html.DisplayNameFor(model => model.Email)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                    </tr>
                    <tr>
                        <td> @Html.DisplayNameFor(model => model.Website)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Website)
                        </td>
                    </tr>
                    <tr>
                        <td>  @Html.DisplayNameFor(model => model.Twitter)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Twitter)
                        </td>
                    </tr>
                    <tr>
                        <td>   @Html.DisplayNameFor(model => model.Facebook)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Facebook)
                        </td>
                    </tr>
                    <tr>
                        <td>  @Html.DisplayNameFor(model => model.Latitude)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Latitude)
                        </td>
                    </tr>
                    <tr>
                        <td> @Html.DisplayNameFor(model => model.Longitude)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Longitude)
                        </td>
                    </tr>
                    <tr>
                        <td> @Html.DisplayNameFor(model => model.Active)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Active)
                        </td>
                    </tr>
                    <tr>
                        <td>  @Html.DisplayNameFor(model => model.City1.CityName)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City1.CityName)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="EditLink">
                            @Html.ActionLink("Edit", "Edit", new { id = item.OrganisationId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.OrganisationId }) 
                        </td>
                    </tr>
                </table>

            }


        </div>
    </div>
</div>