﻿@model IEnumerable<BlessedHub.Models.Service>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="container">


        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Services</li>
            </ol>
        </h6>



    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h2> Services Types</h2>

            <p class="EditLink">
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
              

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ServiceName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td class="EditLink">
                        @Html.ActionLink("Edit", "Edit", new { id = item.ServiceId }) |
                        @*@Html.ActionLink("Details", "Details", new { id = item.ServiceId }) |*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.ServiceId })
                    </td>
                </tr>
                }

            </table>
        </div>
    </div>
</div>