﻿@model IEnumerable<BlessedHub.Models.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="container">


        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">News</li>
            </ol>
        </h6>



    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-lg-12">

            <p class="EditLink">
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NewsTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NewsDetail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MoreDetails)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PostedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PostedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FacebookLink)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TwitterLink)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tagged)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PictureURL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NewsSubType.NewsSubType1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NewsType.NewsType1)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewsTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewsDetail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MoreDetails)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FacebookLink)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TwitterLink)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tagged)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.PictureURL)*@
                            <img src=@item.PictureURL width="100" height="100" />
                            @*<img src="~/Images/News/Penguins.jpg" width="100" height="100" />*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewsSubType.NewsSubType1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewsType.NewsType1)
                        </td>
                        <td class="EditLink">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>