﻿@model IEnumerable<BlessedHub.Models.Service>


<ul class="dropdown-menu">
  
    @foreach (var item in Model)
    {
                 
            <li>
                @Html.ActionLink(item.ServiceName, "Details", new { id = item.ServiceId })
             
            </li>
      
    }

    </ul>
