﻿@model BlessedHub.Models.City

@{
    ViewBag.Title = "Home";
}
<style>
    #mainpic {
        background-image: url('/ImagesPNG/Ajazbahi1900.png');
    }

    #HomeImage {
        /*background-image: url('/Images/HomePageBacground.PNG');*/
        background-image: url('/Images/Streetsport.PNG');
        /*background-repeat: repeat-x;*/
        background-position: bottom;
        width: 100%;
        height: auto;
    }
    #fillBackCity {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-image: url('/Images/ManchesterCityCouncil.png');
    }
</style>


<div id="myCarousel" class="carousel">
  

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div id="fillBackCity">
                <div class="container">
                  
                </div>
            </div>
            <div class="carousel-caption">
                <h1></h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
            <div class="carousel-caption">
                <h1>Ready to Style &amp; Add Content</h1>
            </div>
        </div>

    </div>

    <!-- Controls -->
    @*<a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>*@
</div>



<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"></h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="home__copy">
                <h2 class="h2">Where we are</h2>
                <p>The Blessed Hub is currently active in several locations across the UK.</p>
                <p class="h3">Want to see what is happening near you? Select one…</p>
                <div class="img-responsive">
                    @{ Html.RenderAction("PartialServicesListSearch", "Home"); }
                </div>
                <p>The Blessed Hub is currently active in several locations across the UK.</p>
                <p class="h3">Want to see what is happening near you? Select one…</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="img-responsive">
                @{ Html.RenderAction("PartialMapOrganisation", "ServiceTypeWorkingDaysData", new { id = 1 }); }
            </div>
            @*<img src="http://placehold.it/750x450" class="img-responsive">
                <h3>Service Two</h3>
                <p>Service two description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
                <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>*@
        </div>
        <!-- /.row -->
        <div class="col-lg-12">
            <h2 class="page-header"></h2>
        </div>
    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="ServicesCount">
                    <ul class="ServicesCount__list">
                        <li class="ServicesCount__item">
                            <a href="/find-help/all-service-providers/">
                                <span class="ServicesCount__title">444</span>
                                <span class="h3 ServicesCount__description">Organisations</span>
                            </a>
                        </li>
                        <li class="ServicesCount__item">
                            <a href="/find-help/">
                                <span class="ServicesCount__title">333</span>
                                <span class="h3 ServicesCount__description">Services</span>
                            </a>
                        </li>
                        <li class="ServicesCount__item">
                            <a href="/give-help/help/">
                                <span class="ServicesCount__title">222</span>
                                <span class="h3 ServicesCount__description">Needs</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Display Some Work on the Home Page Portfolio</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Modern Business Features Include:</h2>
                <ul>
                    <li>Bootstrap 3 Framework</li>
                    <li>Mobile Responsive Design</li>
                    <li>Predefined File Paths</li>
                    <li>Working PHP Contact Page</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Unstyled: Add Your Own Style and Content!</li>
                    <li>Font-Awesome fonts come pre-installed!</li>
                    <li>100% <strong>Free</strong> to Use</li>
                    <li>Open Source: Use for any project, private or commercial!</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="http://placehold.it/700x450">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Modern Business Features Include:</h2>
                <ul>
                    <li>Bootstrap 3 Framework</li>
                    <li>Mobile Responsive Design</li>
                    <li>Predefined File Paths</li>
                    <li>Working PHP Contact Page</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Unstyled: Add Your Own Style and Content!</li>
                    <li>Font-Awesome fonts come pre-installed!</li>
                    <li>100% <strong>Free</strong> to Use</li>
                    <li>Open Source: Use for any project, private or commercial!</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>'Modern Business' is a ready-to-use, Bootstrap 3 updated, multi-purpose HTML theme!</h4>
            <p>For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="http://startbootstrap.com">See More Templates!</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->