﻿@model IEnumerable<BlessedHub.Models.Service>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
  
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceName)
        </td>
     
    </tr>
}

</table>
