﻿@model IEnumerable<BlessedHub.Models.OrganisaitonServicesType>



@foreach (var item in Model)
{

    var servictypeid = item.ServiceTypeId.ToString();
    var servicetypeidhash = "#" + servictypeid;

    <div class="panel panel-default">
        <div class="panel-heading" style="background-color:#5a497f;">
            <h4 class="class="card__title" >
                <a href=@servicetypeidhash data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                    @item.ServicesType.ServiceType
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" id=@servictypeid style="height: 0px;">
            <div class="panel-body">
                <article class="card card--brand-h card--big js-header">
                
                    <section class="TimingBox">
                        <div>
                            <div class="TimingBox-entry js-item">
                                <div>
                                    @item.Organisation.Description
                                </div>
                                <table class="table">

                                    <tr>
                                        <td>
                                            Services Available:
                                        </td>
                                        <td> </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Address:
                                        </td>
                                        <td>@item.Organisation.Address1, @item.Organisation.City, @item.Organisation.PostCode <a target="_blank" href="https://www.google.co.uk/maps/place/@item.Organisation.PostCode" style="color:darkblue;">View on Map</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Telephone:
                                        </td>
                                        <td>@item.Organisation.Telephone</td>
                                    </tr>

                                    <tr>
                                        <td>Opening Times:</td>
                                        <td> @{ Html.RenderAction("PartialServiceTypeTimeTable", "ServiceTypeWorkingDaysData", new { ServiceTypeId = item.ServicesType.ServiceTypeId, ServiceId = item.ServicesType.ServiceId, OrganisationId = item.OrganisationId }); }</td>

                                    </tr>



                                </table>
                            </div>
                        </div>
                    
                    </section>
                </article>            </div>
        </div>
    </div>

    

}

