﻿@using BlessedHub.CustomAuthentication
@using BlessedHub.Models
@using Microsoft.AspNet.Identity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Blessed Hub - @ViewBag.Title</title>

    <!-- Bootstrap -->
    <link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("/css/modern-business.css")" rel="stylesheet">
    <link href="@Url.Content("/css/site.css")" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-fixed-top" role="navigation" id="adminNav" style="background-color:darkgreen;">
        <div class="container" style="height:100%">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                @Html.ActionLink("Admin ", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">

                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Setup service", "Index", "ServicesData")
                            </li>
                            <li id="405">
                                @Html.ActionLink(" Setup service sub type", "Index", "ServicesTypesData")
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Locations <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Setup location", "Index", "Cities")
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Give Help <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Setup give help types", "Index", "GiveHelpTypes")
                            </li>
                            <li>
                                @Html.ActionLink("Setup give help sub types", "Index", "GiveHelpSubTypes")
                            </li>


                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Organisations <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Setup organisation", "Index", "OrganisationsData")
                            </li>
                            <li>
                                @Html.ActionLink("Setup organisation services", "Index", "OrganisationServices")
                            </li>
                            <li>
                                @Html.ActionLink("Setup organisaiton services sub types", "Index", "OrganisaitonServicesTypesData")
                            </li>
                            <li>
                                @Html.ActionLink("Setup organisation timings", "Index", "OrganisationWorkingDays")
                            </li>
                            <li id="405">
                                @Html.ActionLink("Setup organisation service type timings", "Index", "ServiceTypeWorkingDaysData")
                            </li>
                            <li>
                                @Html.ActionLink(" Setup organisation needs help", "Index", "GiveHelpToOrganisaitonsData")
                            </li>
                        </ul>
                    </li>



                    <li id="other" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">News <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="fullwidthpage">
                                @Html.ActionLink("Setup News", "Index", "News")
                            </li>
                            <li id="sidebarpage">
                                @Html.ActionLink("Setup News Types", "Index", "NewsTypes")
                            </li>

                            <li id="404">
                                @Html.ActionLink("Setup News Sub Types", "Index", "NewsSubTypes")
                            </li>



                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    @RenderBody()

    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; The Blessed Hub</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@Url.Content("/js/bootstrap.js")"></script>
    <script src="@Url.Content("/js/modern-business.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
