﻿@using BlessedHub.CustomAuthentication
@using BlessedHub.Models
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Blessed Hub - @ViewBag.Title</title>

    <!-- Bootstrap -->
    <link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("/css/modern-business.css")" rel="stylesheet">
    <link href="@Url.Content("/css/site.css")" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container" style="height:100%">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                @Html.ActionLink("The Blessed Hub", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">

                <ul class="nav navbar-nav navbar-right">

                    @*@if (User.IsInRole("admin"))
                    {
                        <li id="i3">
                            @Html.ActionLink("Admin Menue Options", "Help", "GiveHelpToOrganisaitonsData")
                        </li>
                    }*@

                    @if (Session["UserRole"] != null)
                    {
                        string userrole = Session["UserRole"].ToString();
                        if (userrole == "admin")
                        {
                            <li id="i3">
                                @Html.ActionLink("Admin Menue Options", "Help", "GiveHelpToOrganisaitonsData")
                            </li>
                        }
                    }


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Find Help <b class="caret"></b></a>
                        @{ Html.RenderAction("FindHelpMenue", "TestEF"); }




                        @*@if (Session["UserRole"] != null)
            {
                <ul class="dropdown-menu">
                    <li id="1columnportfolio">
                        @Html.ActionLink("Tesddddddddddddddddt if", "Help", "GiveHelpToOrganisaitonsData")
                    </li>
                </ul>
            }*@

                        @*<ul class="dropdown-menu">
                <li>
                    <div class="row" style="width: 420px; margin-left:0; margin-right:0">
                        <ul class="col-md-4" style="list-style-type: none;">
                            <li>@Html.ActionLink("Advice", "Index", "Services")</li>
                            <li>@Html.ActionLink("Organisations", "Index", "Services")</li>
                            <li>@Html.ActionLink("Advice Services", "Index", "Services")</li>
                            <li>@Html.ActionLink("Accomodations", "Index", "Services")</li>
                            <li>@Html.ActionLink("Drop-In", "Index", "Services")</li>
                        </ul>
                        <ul class="col-md-4" style="list-style-type: none;">
                            <li>@Html.ActionLink("Financial Help", "Index", "Services")</li>
                            <li>@Html.ActionLink("Meals", "Index", "Services")</li>
                            <li>@Html.ActionLink("Personal Items", "Index", "Services")</li>
                            <li>@Html.ActionLink("Health Services", "Index", "Services")</li>
                            <li>@Html.ActionLink("Personal Services", "Index", "Services")</li>
                        </ul>
                        <ul class="col-md-4" style="list-style-type: none;">
                            <li>@Html.ActionLink("Food Banks", "Index", "Services")</li>
                            <li>@Html.ActionLink("Communicaitions", "Index", "Services")</li>
                            <li>@Html.ActionLink("Traninig", "Index", "Services")</li>
                            <li>@Html.ActionLink("Employment", "Index", "Services")</li>
                            <li>@Html.ActionLink("Activites", "Index", "Services")</li>
                        </ul>
                    </div>
                </li>
            </ul>*@
                    </li>
                    <li id="GiveHelp" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Give Help <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="1columnportfolio">
                                @Html.ActionLink("Help", "Help", "GiveHelpToOrganisaitonsData")
                            </li>
                            @*<li id="2columnportfolio">
                                @Html.ActionLink("Donate Money", "TwoColumn", "Portfolio")
                            </li>
                            <li id="3columnportfolio">
                                @Html.ActionLink("Volunteer", "ThreeColumn", "Portfolio")
                            </li>
                            <li id="4columnportfolio">
                                @Html.ActionLink("4 Column Portfolio", "FourColumn", "Portfolio")
                            </li>
                            <li id="singleportfolioitem">
                                @Html.ActionLink("Single Portfolio Item", "SingleItem", "Portfolio")
                            </li>*@
                        </ul>
                    </li>
                    <li id="Locations" class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Locations <b class="caret"></b></a>
                        @{ Html.RenderAction("FindLocationsMenu", "TestEF"); }
                        @*<ul class="dropdown-menu">
                <li>
                    <div class="row" style="width: 420px; margin-left:0; margin-right:0">
                        <ul class="col-md-4" style="list-style-type: none;">
                            <li>@Html.ActionLink("Manchester", "Index", "Contact")</li>
                            <li>@Html.ActionLink("Manchester", "Index", "Contact")</li>
                            <li>@Html.ActionLink("Manchester", "Index", "Contact")</li>

                        </ul>
                        <ul class="col-md-4" style="list-style-type: none;">
                            <li>@Html.ActionLink("Oldham", "Index", "Services")</li>
                            <li>@Html.ActionLink("Oldham", "Index", "Services")</li>
                            <li>@Html.ActionLink("Oldham", "Index", "Services")</li>

                        </ul>
                        <ul class="col-md-4" style="list-style-type: none;">
                            <li>@Html.ActionLink("Rochdale", "Index", "Services")</li>
                            <li>@Html.ActionLink("Rochdale", "Index", "Services")</li>
                            <li>@Html.ActionLink("Rochdale", "Index", "Services")</li>

                        </ul>
                    </div>
                </li>
            </ul>*@


                    </li>
                    <li id="News" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">News <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="1columnportfolio">
                                @Html.ActionLink("Stories", "NewsStories", "News")
                            </li>
                            <li id="2columnportfolio">
                                @Html.ActionLink("Articles", "TwoColumn", "Portfolio")
                            </li>
                            <li id="3columnportfolio">
                                @Html.ActionLink("Latest News", "ThreeColumn", "Portfolio")
                            </li>
                            <li id="4columnportfolio">
                                @Html.ActionLink("4 Column Portfolio", "FourColumn", "Portfolio")
                            </li>
                            <li id="singleportfolioitem">
                                @Html.ActionLink("Single Portfolio Item", "SingleItem", "Portfolio")
                            </li>
                        </ul>
                    </li>
                    <li id="About" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>

                        <ul class="dropdown-menu">


                            <li id="bloghome1">
                                @Html.ActionLink("Blog Home 1", "Home1", "Blog")
                            </li>
                            <li id="bloghome2">
                                @Html.ActionLink("Blog Home 2", "Home2", "Blog")
                            </li>
                            <li id="blogpost">
                                @Html.ActionLink("Blog Post", "Post", "Blog")
                            </li>

                            <li id="bloghome4">
                                @Html.ActionLink("Blog Home 1", "Home1", "Blog")
                            </li>
                            <li id="bloghome5">
                                @Html.ActionLink("Blog Home 2", "Home2", "Blog")
                            </li>
                            <li id="blogpost6">
                                @Html.ActionLink("Blog Post", "Post", "Blog")
                            </li>

                        </ul>

                    </li>
                    <li id="other" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="fullwidthpage">
                                @Html.ActionLink("Full Width Page", "FullWidth", "Other")
                            </li>
                            <li id="sidebarpage">
                                @Html.ActionLink("Sidebar Page", "Sidebar", "Other")
                            </li>
                            <li id="faq">
                                @Html.ActionLink("FAQ", "Faq", "Other")
                            </li>
                            <li id="404">
                                @Html.ActionLink("404", "FourOhFour", "Other")
                            </li>

                        </ul>
                    </li>
                    
                                   

                    <li class="nav__item nav__item--login">
                        @*<a href="#" class="nav__item-link nav__item-link--login btn btn--small btn--brand-h">
            <span class="btn__text">Login</span>*@
                        @Html.ActionLink("Login", "Login", "Account")
                        @*</a>*@
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    @RenderBody()

    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; The Blessed Hub</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@Url.Content("/js/bootstrap.js")"></script>
    <script src="@Url.Content("/js/modern-business.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>