﻿@model IEnumerable<BlessedHub.Models.ServiceTypeWorkingDay>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Organisation.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeekDay.Days)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicesType.ServiceType)
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Organisation.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeekDay.Days)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service.ServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServicesType.ServiceType)
        </td>



    </tr>
}

</table>
