﻿
<div id="dvMap" style="height: 450px">

    @*@Html.Raw(ViewBag.Markers);*@

</div>




    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb79U_ymEsPdWko6rFHBki8TBzv5GSKK8"></script>
    <script type="text/javascript">
        //$(document).ready(function () {
        //    initMap();
        //});

        window.onload = function () {
        var markers = @Html.Raw(ViewBag.Markers);
        //////window.onload = function () {
            var mapOptions = {
                center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            //alert("helloooo");
            
            var infoWindow = new google.maps.InfoWindow();
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            for (i = 0; i < markers.length; i++) {
                var data = markers[i]
                
                var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data.titleh
                });
                (function (marker, data) {
                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent(data.description);
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
            }
        }

    </script>



