﻿@model BlessedHub.Models.ServiceTypeWorkingDay

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ServiceTypeWorkingDay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkingDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service.ServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.ServiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServicesType.ServiceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServicesType.ServiceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeekDay.Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeekDay.Days)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
