﻿@model IEnumerable<BlessedHub.Models.OrganisationService>


@{ 
    var location = "https://www.google.co.uk/maps/place/";
}

@foreach (var item in Model)
{

<article class="card card--brand-h card--big js-header">
    <header class="card__title">
        @Html.ActionLink(item.Organisation.Name, "ThreeColumn", "Portfolio")
        @*<a href="#" style="color:darkblue;">

            @Html.DisplayFor(modelItem => item.Organisation.Name)
        </a>*@
    </header>
    <section class="TimingBox">
        <div>
            <div class="TimingBox-entry js-item">
                <div>
                    @item.Organisation.Description
                </div>
                <table class="table">

                    <tr>
                        <td>
                            Services Available:
                        </td>
                        <td> @{ Html.RenderAction("OrganisaitonServicesTypesAll", "OrganisaitonServicesTypesData", new { OrganisationId = item.Organisation.OrganisationId, ServiceId = item.ServiceId }); }</td>
                    </tr>

                    <tr>
                        <td>
                            Address:
                        </td>
                        <td>@item.Organisation.Address1, @item.Organisation.City, @item.Organisation.PostCode <a target="_blank" href="https://www.google.co.uk/maps/place/@item.Organisation.PostCode" style="color:darkblue;">View on Map</a></td>
                    </tr>
                    <tr>
                        <td>
                            Telephone:
                        </td>
                        <td>@item.Organisation.Telephone</td>
                    </tr>

                    <tr>
                        <td>Opening Times:</td>
                        <td> @{ Html.RenderAction("OranisationTimeTable", "OrganisationWorkingDays", new { id = item.Organisation.OrganisationId }); }</td>

                    </tr>
                    <tr>
                        <td style="background-color:#333; border-radius:10px;text-align:center;"> @Html.ActionLink("More Information", "Details", "OrganisationsData", new { id = item.Organisation.OrganisationId }, null)</td>
                    </tr>


                </table>
            </div>
        </div>
        
        @*@{ Html.ActionLink("More Information", "PartialServicesTypesCard", "OrganisaitonServicesTypes", new { OrganisationId = item.Organisation.OrganisationId, OrganisationServicesId = item.OrganisationServicesId }); }*@
    
    </section>
</article>
}

