﻿@model BlessedHub.Models.OrganisationService

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="container">


        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Organisation Services</li>
            </ol>
        </h6>



    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-lg-8">

            <h3>Are you sure you want to delete this?</h3>
            <div>
                <h4>OrganisationService</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Organisation.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Organisation.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Service.ServiceName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Service.ServiceName)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                    </div>
                }

                <div class="EditLink">
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </div>
</div>